*private*
*history*
.zcompdump*
.v8flags*
.autoenv_authorized
.emulator_console_auth_token
.gitcookies
.iterm2_shell_integration.zsh
*/**/*.log
#ignore all file not start with .
*[!/]
/[!.]*/

#directory ignore
!/.iterm2/
!/.vim/
!/.ShadowsocksX-NG/
!/.IdentityService/
!/.docker/daemon.json
!/.docker/config.json
!/.m2/settings.xml
!/.ssh/config

#file ignore
!.aliases
!.angular-cli.json
!.angular-config.json
!.bash_profile
!.bash_prompt
!.bashrc
!.cephdeploy.conf
!.curlrc
!.editorconfig
!.exports
!.flutter
!.functions
!.gdbinit
!.gitattributes
!.gitconfig
!.gitignore
!.gitignore_global
!.gvimrc
!.hgignore_global
!.hushlogin
!.inputrc
!.npmrc
!.netrc
!.powerlevel9k
!.profile
!.repo_.gitconfig.json
!.screenrc
!.stCommitMsg
!.tmux.conf
.viminfo
!.vimrc
!.wgetrc
!.yarnrc
!.zprofile
!.zshenv
!.zshrc
!.netrc
